body, html{
  height:100%;
}
body{
  margin: 0px;
  /*background-color:#444;*/
  /*background-image: "images/nyanBackground.gif";*/
  background-image: url('images/nyanBackground.gif');
  /*background-size: cover;*/
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton, .addDoggyDancer{
  padding:5px 12px;
  float:right;
}

.lineUpButton {
  padding:5px 12px;
  float:left;
}

.rainbowfyTitle {
  padding:5px 12px;
  float: left;
  background-color: #CC0066;
}

.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position: absolute;
}
.rainbowfy {
  background:url(images/rainbow.gif) no-repeat top left;
  position: absolute;
  height: 50px;
  width: 50px;
}

.box:hover {
  background: red;
  border-radius: 40%;
}

.doggy{
  background:url(images/doggyImage.gif) no-repeat top left;
  position: absolute;
  height: 242px;
  width: 242px;
}

.cat{
  background:url(images/catImage.gif) no-repeat top left;
  position: absolute;
  height: 200px;
  width: 200px;
}

.squirrel{
  background:url(images/squirrelImage.gif) no-repeat top left;
  position: absolute;
  height: 130px;
  width: 115px;
}

.doggy:hover, .cat:hover, .squirrel:hover{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.clearButton {
  padding:5px 12px;
  float:left;
  background-color: #996699;
}

